@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Jost", sans-serif;
    overflow-x: hidden;
}

@supports (font-variation-settings: normal) {
    body {
        font-family: "JostVariable";
    }
}

::selection {
    color: #ffffff;
    background-color: #ce0b2b;
}

.swal2-container {
    z-index: 99999 !important;
}

.btn--primary {
    @apply px-4 py-2 bg-gray-800 dark:bg-gray-200 border border-transparent rounded-md font-semibold text-xs text-white dark:text-gray-800 uppercase tracking-widest hover:bg-gray-700 dark:hover:bg-white focus:bg-gray-700 dark:focus:bg-white active:bg-gray-900 dark:active:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 dark:focus:ring-offset-gray-800 transition ease-in-out duration-150;
}

.btn--cta {
    @apply bg-red-600 hover:bg-red-600 text-xl text-white rounded-md transition ease-in-out duration-150;
}

.btn-action {
    z-index: 1;
    position: relative;
    align-items: center;
    display: inline-flex;
    justify-content: center;
}

.btn-action:before {
    background: #2e2e2e;
}

.btn-action:hover:before {
    left: 0px;
    width: 100%;
    right: auto;
}

.btn-action:hover {
    color: #ffffff;
}

.btn-action:before {
    top: 0px;
    width: 0px;
    left: auto;
    right: 0px;
    z-index: -1;
    bottom: 0px;
    content: "";
    position: absolute;
    transition: all 0.3s ease-in-out;
}
